*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #ece3e8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin-left: 36%;
  margin-top: 2%;
  justify-content: center;
}

#titulo{
  font-family: Arial, Helvetica, sans-serif;
  color: #0d0d0e;
  margin-left: 7%;
}

#subtitulo{
  font-family: Arial, Helvetica, sans-serif;
  color: #f04e4ebe;
  margin-left: 10%;
}

fieldset{
  border: 0;
}

input, select, textarea, btn{
  border-radius: 5px;
}

.campo{
  margin-bottom: 1em;
}

.campo label{
  margin-bottom: 0.2em;
  color: #0f1312;
  display: block;
}

fieldset .grupo .campo{
  float: left;
  margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
  padding: 0.2em;
  border: 1px solid #1b0441;
  box-shadow: 2px 2px 2px rgba(188, 143, 143, 0.178);
  display: block;
}

.campo select option{
  padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
  background: #f04e4e77
}

.btn{
  font-size: 1.2em ;
  background: #ce481362;
  border: 0;
  margin-bottom: 1em;
  color: #0a0a0a;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px; rgba();
  text-shadow:  1px 1px 1px rgba(80, 5, 5, 0.5);
  position: absolute;
  top:90;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.btn:hover{
  background: #925f7a ;
  box-shadow: inset 2px 2px 2px rgba(73, 7, 7, 0.5);
  text-shadow: none;
}

.btn, select{
  cursor: pointer;
}

#check{
  display: inline-block;
}